.get-started-wrap {
  text-align: center;
}
.get-started-btn {
  padding: 0.9375rem 1.875rem;
  font-size: 1.625rem;
  margin-top: 0.625rem;
}

#created-by {
  text-align: right;
  margin-top: 1.875rem;
  color: #777;
  font-size: 0.9em;
}

.btn-success {
  background: #5cb85c;
}

.main-explain-area {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #eee;
  padding: 1.25rem 0.9375rem;
}

.main-explain-area p {
  margin-bottom: 0.9375rem;
  font-size: 1.3125rem;
  font-weight: 200;
}

@media (min-width: 768px) {
  .main-explain-area {
    padding: 3rem 3.75rem;
  }
}

/* Carbon ads */
#carbonads {
  display: block;
  overflow: hidden;
  text-align: center;
  font-family: "Open Sans", Lora, Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 0.8125rem;
  border: 1px solid #ccc;
  padding: 0.5625rem;
  max-width: 25rem;
  margin: 0 auto 0.9375rem;
}

#carbonads a {
  color: inherit;
  text-decoration: none;
}

#carbonads a:hover {
  color: inherit;
  text-decoration: underline;
}

#carbonads span {
  display: block;
  overflow: hidden;
  position: relative;
}

.carbon-img {
  display: block;
  margin: 0 0.625rem 0 0;
  float: left;
}

.carbon-img img {
  margin-bottom: 0;
}

.carbon-text {
  display: block;
  margin-bottom: 0;
  float: left;
  text-align: left;
  max-width: calc(100% - 130px - 10px);
}

.carbon-poweredby {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.625rem;
  line-height: 1;
  position: absolute;
  right: 0;
  bottom: 0;
}
